@model IEnumerable<Ingredient>

@{
    ViewBag.Title = " List of Restaurant Ingredients";
}
<div class="row">
    <div class="col-md-6 text-center">
        <h1>Ingredients</h1>
    </div>
    <div class="col-md-6 text-center align-text-bottom">
        <a asp-action="Create" class="text-decoration-none d-grid p-3 ">Create New Ingredient</a>
    </div>
</div>
<div class="container-sm">
    <table class="table table-sm table-striped table-hover m-3 p-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient i in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.Name)
                    </td>
                    <td class="text-end">
                        <a asp-action="Details" class=" btn btn-sm btn-outline-info text-decoration-none" asp-route-id="@i.IngredientId"><i class="bi bi-ticket-detailed"></i></a>
                        <a asp-action="Edit" class="btn btn-sm btn-outline-primary text-decoration-none" asp-route-id="@i.IngredientId"><i class="bi bi-pencil"></i></a>
                        <a asp-action="Delete" class="btn btn-sm btn-outline-danger text-decoration-none" asp-route-id="@i.IngredientId"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


